.App {
  width : 96%;
  display : flex;
}

.left {
  float: left;
  width : 60%;
 margin : 20px;
}
.right {
  float: right;
  width: 30%;
  border : 2px solid brown;
  margin: 20px;
  padding :  20px;
}
